body {
    background-color: bisque;
    font-size: 120%;
    font-family: 'Oswald', sans-serif;
}

input,
select {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    size: 50%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

#survey-content {
    background-color: burlywood;
    max-width: 550px;
    margin: 0 auto 25px auto;
    position: relative;
    padding: 5%;
    border-radius: 25px;
}

#survey-content label {
    font-size: 150%;
}

img {
    max-width: 80%;
    height: 80%;
    position: absolute;
    top: 250px;
    left: -160px;
}